<div class="container">

  <div class="controles">
    <input (keydown.enter)="addItem()" type="text" [(ngModel)]="novoTexto">
    <button (click)="addItem()">Adicionar</button>
  </div>

  <div class="listaVazia" *ngIf="lista.length==0">
    Você não possui itens na sula lista atual
  </div>

  <ul *ngIf="lista.length>0">
    <li *ngFor="let item of lista" [ngClass]="{feito:item.feito}">
      <input type="checkbox" [(ngModel)]="item.feito">
      {{item.texto}}
    </li>
  </ul>

  <div *ngIf="lista.length>0" class="inf-controles">
    <button (click)="cleanList()">Limpar Lista</button>
  </div>
</div>
